{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    {{subject.name}}
{% endblock %}

{% block titlelink %}
    {% url 'teachers:subject_detail' subject.pk %}
{% endblock %}

{% block navigation %} 
    <a href="{% url 'teachers:subject_detail' subject.pk %}"><img src="{% static 'img/icons8-back-48.png' %}" alt="Back"></a> 
{% endblock %}

{% block header %}
    Examtime List
{% endblock %}

{% block content %}
<div class="container-fulid">

    <div class="text-center my-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Add Examtime</button>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Examtime</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'teachers:add_examtime' subject.pk %}" method="post">
                        {% csrf_token %}
                        {{form | crispy}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Semester</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <form action="{% url 'teachers:delete_examtime' subject.pk %}" method="post">
                    {% csrf_token %}
                    {% for examtime in examtime_list %}
                    <tr>
                        <td class="col-2"><a href="{% url 'teachers:exam_list' examtime.pk %}">{{examtime.date}}</a></td>
                        <td class="col-10">{{ examtime.semester }}</td>
                        <td><button name="btnDelete" value="{{ examtime.pk }}" class="btn btn-primary" type="submit" style="background-color: red;">Delete</button></td>
                    </tr>
                    {% endfor %} 
                </form>         
            </tbody>
          </table>
    </div>

</div>
{% endblock %}
