{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    {{exam.examtime.subject.name}}
{% endblock %}

{% block titlelink %}
    {% url 'teachers:subject_detail' exam.examtime.subject.pk %}
{% endblock %}

{% block navigation %}
<a style="color: white;" href="{% url 'teachers:subject_detail' exam.examtime.subject.pk %}">{{exam.examtime.subject.name}}</a>
/
<a style="color: white;" href="{% url 'teachers:examtime_list' exam.examtime.subject.pk %}">examtimes</a>
/
<a style="color: white;" href="{% url 'teachers:exam_list' exam.examtime.pk %}">{{exam.examtime.date}} - semester {{exam.examtime.semester}}</a>
{% endblock %}

{% block back %} 
    <a href="{% url 'teachers:exam_list' exam.examtime.pk %}"><img src="{% static 'img/icons8-back-48.png' %}" alt="Back"></a> 
{% endblock %}

{% block header %}
  {{ exam.code }}
{% endblock %}

{% block content %}
<div class="container-fulid">
    
    <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Examtime:</th>
            <td colspan="12">Date: {{exam.examtime.date}} - Semester: {{exam.examtime.semester}}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Main Teacher:</th>
            <td colspan="12">{{ main_teacher_name }}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Confirm Date:</th>
            <td colspan="12">{{ exam.confirm_date }}</td>
            <td class="text-right">
              {% if role == 'Main' %}
                <form action="{% url 'teachers:confirm_exam' exam.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary m-0" style="width: 5em;" type="submit">Confirm</button>
                </form>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Manager:</th>
            <td colspan="12">{{ manager_name }}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Check Date:</th>
            <td colspan="12">{{ exam.check_date }}</td>         
            <td class="text-right">
              {% if role == 'Manager' %}
                <form action="{% url 'teachers:check_exam' exam.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary m-0" style="width: 5em;" type="submit">Check</button>
                </form>
              {% endif %}
            </td>        
          </tr>
        </tbody>
    </table>

    <div class="d-flex my-4">
        <div class="mx-1"><a href="{% url 'teachers:question_bank' exam.pk %}">Questions</a></div>
        <div class="mx-1 border-right border border-dark"></div>
        <div class="mx-1"><a href="">Students</a></div>
        <div class="mx-1 border-right border border-dark"></div>
        <div class="mx-1"><a href="">Statistics</a></div>
    </div>

</div>
{% endblock %}
