{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    {{examtime.subject.name}}
{% endblock %}

{% block titlelink %}
    {% url 'teachers:subject_detail' examtime.subject.pk %}
{% endblock %}

{% block navigation %}
<a style="color: white;" href="{% url 'teachers:subject_detail' examtime.subject.pk %}">{{examtime.subject.name}}</a>
/
<a style="color: white;" href="{% url 'teachers:examtime_list' examtime.subject.pk %}">examtimes</a>
{% endblock %}

{% block back %} 
    <a href="{% url 'teachers:examtime_list' examtime.subject.pk %}"><img src="{% static 'img/icons8-back-48.png' %}" alt="Back"></a> 
{% endblock %}

{% block header %}
    Exam List
{% endblock %}

{% block content %}
<div class="container-fulid">

    <h5>Date: {{examtime.date}} - Semester: {{examtime.semester}}</h5>

    <div class="text-center my-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Add Exam</button>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Exam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'teachers:add_exam' examtime.pk %}" method="post">
                        {% csrf_token %}
                        {{form | crispy}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <form action="{% url 'teachers:delete_exam' examtime.pk %}" method="post">
                    {% csrf_token %}
                    {% for exam in exam_list %}
                    <tr>
                        <td class="col-12"><a href="{% url 'teachers:exam_detail' exam.pk %}">{{exam.code}}</a></td>
                        <td><button name="btnDelete" value="{{exam.pk}}" class="btn btn-primary" type="submit" style="background-color: red;">Delete</button></td>
                    </tr>
                    {% endfor %} 
                </form>         
            </tbody>
          </table>
    </div>

</div>
{% endblock %}
