{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{subject.name}}
{% endblock %}

{% block titlelink %}
    {% url 'teachers:subject_detail' subject.pk %}
{% endblock %}

{% block content %}
<div class="container-fulid">
    <h1>Outcome List</h1>

    <div class="text-center my-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Add Outcome</button>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">New Outcome</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'teachers:add_outcome' subject.pk %}" method="post">
                        {% csrf_token %}
                        {{form | crispy}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-2">Outcome</th>
                <th scope="col-8">Content</th>
                <th scope="col-2">Super Outcome</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <form action="{% url 'teachers:delete_outcome' subject.pk %}" method="post">
                    {% csrf_token %}
                    {% for outcome in outcome_list %}
                    <tr>
                        <td class=""><a href="{% url 'teachers:question_list' outcome.pk %}">{{outcome.outcome}}</a></td>
                        <td class="">{{outcome.content}}</td>
                        <td class="">{{outcome.superoutcome}}</td>
                        <td><button name="btnDelete" value="{{outcome.pk}}" class="btn btn-primary" type="submit" style="background-color: red;">Delete</button></td>
                    </tr>
                    {% endfor %} 
                </form>         
            </tbody>
          </table>
    </div>

</div>
{% endblock %}
