{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    {{exam.examtime.subject.name}}
{% endblock %}

{% block titlelink %}
    {% url 'teachers:subject_detail' exam.examtime.subject.pk %}
{% endblock %}

{% block navigation %}
<a style="color: white;" href="{% url 'teachers:subject_detail' exam.examtime.subject.pk %}">{{exam.examtime.subject.name}}</a>
/
<a style="color: white;" href="{% url 'teachers:examtime_list' exam.examtime.subject.pk %}">examtimes</a>
/
<a style="color: white;" href="{% url 'teachers:exam_list' exam.examtime.pk %}">{{exam.examtime.date}} - semester {{exam.examtime.semester}}</a>
/
<a style="color: white;" href="{% url 'teachers:exam_detail' exam.pk %}">exam {{exam.code}}</a>
{% endblock %}

{% block back %} 
    <a href="{% url 'teachers:exam_detail' exam.pk %}"><img src="{% static 'img/icons8-back-48.png' %}" alt="Back"></a> 
{% endblock %}

{% block header %}
    Exam Manager
{% endblock %}

{% block content %}

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="question-in-exam-tab" data-toggle="tab" href="#nav-question-in-exam" role="tab" aria-controls="nav-question-in-exam" aria-selected="true">Questions bank</a>
    <a class="nav-item nav-link" id="question-bank-tab" data-toggle="tab" href="#nav-question-bank" role="tab" aria-controls="nav-question-bank" aria-selected="false">Question in exam</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-question-in-exam" role="tabpanel" aria-labelledby="question-in-exam-tab">
      <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-2">Question</th>
                <th scope="col-8">Content</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <form action="{% url 'teachers:delete_question_from_exam' exam.pk %}" method="post">
                    {% csrf_token %}
                    {% for question in questions.question_in_exam %}
                    <tr>
                        <td class=""><a href="{% url 'teachers:question_detail' question.pk %}">{{question.pk}}</a></td>
                        <td class="">{{question.content.text}}</td>
                        <td><button name="btnDelete" value="{{question.pk}}" class="btn btn-primary" type="submit" style="background-color: red;">Delete</button></td>
                    </tr>
                    {% endfor %}
                </form>
            </tbody>
      </table>
  </div>
  <div class="tab-pane fade" id="nav-question-bank" role="tabpanel" aria-labelledby="question-bank-tab">
      <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-2">Question</th>
                <th scope="col-8">Content</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <form action="{% url 'teachers:add_question_to_exam' exam.pk %}" method="post">
                    {% csrf_token %}
                    {% for question in questions.question_bank %}
                    <tr>
                        <td class=""><a href="{% url 'teachers:question_detail' question.pk %}">{{question.pk}}</a></td>
                        <td class="">{{question.content.text}}</td>
                        <td><button name="btnAdd" value="{{question.pk}}" class="btn btn-primary" type="submit" style="background-color: red;">Add to exam</button></td>
                    </tr>
                    {% endfor %}
                </form>
            </tbody>
      </table>
  </div>
</div>
{% endblock %}