{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    {{question.outcome.subject.name}}
{% endblock %}

{% block titlelink %}
    {% url 'teachers:subject_detail' question.outcome.subject.pk %}
{% endblock %}

{% block navigation %} 
    <a href="{% url 'teachers:question_list' question.outcome.subject.pk %}"><img src="{% static 'img/icons8-back-48.png' %}" alt="Back"></a> 
{% endblock %}

{% block header %}
{{ question.pk }}
{% endblock %}

{% block content %}
<div class="container-fulid">

    <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Teacher:</th>
            <td colspan="12">{{question.teacher.user.username}}</td>
          </tr>
          <tr>
            <th scope="row">Modify Date:</th>
            <td colspan="12">{{ question.modify_date }}</td>
          </tr>
          <tr>
            <th scope="row">Outcome:</th>
            <td colspan="12"><a href="{% url 'teachers:question_list' question.outcome.pk %}">{{ question.outcome.outcome }}</a></td>
          </tr>
        </tbody>
    </table>

    <div style="font-size: 2em;">
        <span class="font-weight-bold">Question: </span> {{question.content.text}}
    </div>

    <div class="row" style="font-size: 1.5em;">
        <div class="col-10">
            <span class="font-weight-bold">A. </span> {{answer_a.content.text}}
        </div>
        <div class="col-2 text-right">
            <span class="font-weight-bold">{{answer_a.result}}</span>
        </div>
    </div>

    <div class="row" style="font-size: 1.5em;">
        <div class="col-10">
            <span class="font-weight-bold">B. </span> {{answer_b.content.text}}
        </div>
        <div class="col-2 text-right">
            <span class="font-weight-bold">{{answer_b.result}}</span>
        </div>
    </div>

    <div class="row" style="font-size: 1.5em;">
        <div class="col-10">
            <span class="font-weight-bold">C. </span> {{answer_c.content.text}}
        </div>
        <div class="col-2 text-right">
            <span class="font-weight-bold">{{answer_c.result}}</span>
        </div>
    </div>

    <div class="row" style="font-size: 1.5em;">
        <div class="col-10">
            <span class="font-weight-bold">D. </span> {{answer_d.content.text}}
        </div>
        <div class="col-2 text-right">
            <span class="font-weight-bold">{{answer_d.result}}</span>
        </div>
    </div>

    {% if user.teacher.pk == question.teacher.pk %}
        <div class="text-center mt-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">Update</button>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Update Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'teachers:update_question' question.pk %}" method="post">
                        {% csrf_token %}
                        {{form | crispy}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
