{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    {{outcome.subject.name}}
{% endblock %}

{% block titlelink %}
    {% url 'teachers:subject_detail' outcome.subject.pk %}
{% endblock %}

{% block navigation %}
<a style="color: white;" href="{% url 'teachers:subject_detail' outcome.subject.pk %}">{{outcome.subject.name}}</a>
/
<a style="color: white;" href="{% url 'teachers:outcome_list' outcome.subject.pk %}">outcomes</a>
{% endblock %}

{% block back %} 
    <a href="{% url 'teachers:outcome_list' outcome.subject.pk %}"><img src="{% static 'img/icons8-back-48.png' %}" alt="Back"></a> 
{% endblock %}

{% block header %}
Question List
{% endblock %}

{% block content %}
<div class="container-fulid">
    <h5>Outcome: {{outcome.outcome}}</h5>

    <div class="text-center my-4">
        <a href="{% url 'teachers:create_question_form' outcome.pk %}" class="btn btn-primary text-white">Add Question</a>
    </div>
    

    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col-2">Question</th>
                <th scope="col-8">Content</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <form action="{% url 'teachers:delete_question' outcome.pk %}" method="post">
                    {% csrf_token %}
                    {% for question in question_list %}
                    <tr>
                        <td class=""><a href="{% url 'teachers:question_detail' question.pk %}">{{question.pk}}</a></td>
                        <td class="">{{question.content.text}}</td>
                        <td><button name="btnDelete" value="{{question.pk}}" class="btn btn-primary" type="submit" style="background-color: red;">Delete</button></td>
                    </tr>
                    {% endfor %} 
                </form>         
            </tbody>
          </table>
    </div>

</div>
{% endblock %}
