{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block navigation %}
{% endblock %}

{% block header %}
Subject List
{% endblock %}

{% block content %}
    <div>
        <div>
            <table class="table table-striped">
                <thead>
                  <tr>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for subject in subject_list %}
                        <tr>
                            <td class="col-2">{{subject.name}}</td>
                            <td>
                                <a href="{% url 'teachers:subject_detail' subject.pk %}" class="btn btn-primary"> Explore </a>
                            </td>

                        </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>

    <div> 



    </div>
{% endblock %}


