{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block back %} 
    <a href="{% url 'home' %}"><img src="{% static 'img/icons8-back-48.png' %}" alt="Back"></a> 
{% endblock %}

{% block header %}
    {{ subject.name }}
{% endblock %}

{% block content %}
<div class="container-fulid">
    <h4>Aim: {{ subject.aim }}</h4>

<!--    <div class="d-flex my-4">-->
        <div>
            <a href="{% url 'teachers:examtime_list' subject.pk %}" class="btn btn-outline-primary btn-lg btn-block" role="button" aria-pressed="true">
                Manage exam times
            </a>
        </div>

        <div class="mx-1 border-right border border-dark"></div>

        <div>
            <a href="{% url 'teachers:outcome_list' subject.pk %}" class="btn btn-outline-primary btn-lg btn-block" role="button" aria-pressed="true">
                Manage question bank
            </a>
        </div>

<!--    </div>-->


    </div>
    <div id="chartContainer" style="height: 370px; width: 100%;">


</div>
{% endblock %}
