{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block navigation %}
{% endblock %}

{% block header %}
Subject List
{% endblock %}

{% block content %}
    <div> 
        <!-- Iterate over object_list -->
        {% for subject in subject_list %} 
        <!-- Display Objects -->
        <div><a href="{% url 'teachers:subject_detail' subject.pk %}">{{ subject.name }}</a></div> 
    
        <hr/> 
        <!-- If objet_list is empty  -->
        {% empty %} 
        <div>No objects yet.</div> 
        {% endfor %} 
    </div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
{% endblock %}


