{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Upcomming Exam</h1>
    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Subject Name</th>
                <th scope="col">Date</th>
                <th scope="col">Semester</th>
                <th scope="col">Exam Code</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <form action="" method="post">
                    {% csrf_token %}
                    {% for takeexam in takeexam_list %}
                    <tr>
                        <td class="">{{takeexam.exam.examtime.subject.name}}</td>
                        <td class="">{{takeexam.exam.examtime.date}}</td>
                        <td class="">{{takeexam.exam.examtime.semester}}</td>
                        <td class="">{{takeexam.exam.code}}</td>
                        <td class="text-right">
                            {% if takeexam.done %}
                                <a href="{% url 'students:view_result' pk=takeexam.pk %}" class="btn btn-primary">Results</a>
                            {% else %}
                                <a href="{% url 'students:student_take_exam' pk=takeexam.exam.examtime.pk no_ques=0 %}" class="btn btn-primary">Start quiz</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </form>
            </tbody>
          </table>
    </div>



<!--<script type="text/javascript">-->
<!--    function clicked() {-->
<!--       if (confirm('Do you really want to take this exam?')) {-->
<!--           btnTakeExam.submit();-->
<!--       } else {-->
<!--           return ;-->
<!--       }-->
<!--    }-->
<!--</script>-->
{% endblock %}